@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navList {
  /* position: fixed; */
  display: flex;
  flex-direction: row;
  gap: 10rem;
  align-items: center;
  padding: 0.5rem 6rem;
  background-color: #f5f7fa;
}

.navbar {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  align-items: center;
  padding: 2rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #5d5e63;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  padding: 0rem;
}

.btn-primary {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: #4caf4f;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 12px;
  transition: background-color 0.3s;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #225323;
}

.btn-hover:hover {
  padding: 0 10px;
  background-color: #225323;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-right: 5px;
  padding: 10px 12px;
}

/* harmburger */

.sidebar {
  position: fixed;
  top: 6rem;
  right: 0;
  height: 100vh;
  width: 200px;
  background-color: #f5f7fa;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.sidebar li {
  width: 100%;
  padding-left: 10px;
}
.sidebar a {
  width: 100%;
  color: black;
  font-size: 15px;
}
.menu-button {
  display: none;
}

@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .navbar {
    order: -1;
  }
  .icons {
    flex-direction: row-reverse;
  }
  .navList {
    padding: 0.2rem 0.8rem;
  }
  .btns {
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 50%;
  }
}

/* main container */
.container-main {
  display: flex;
  justify-content: space-around;
  padding: 60px 0 0 0;
  background-color: #f5f7fa;
}

.img-frontpage img {
  height: auto;
  width: 100%;
}

.text-wel {
  width: 100vh;
  padding: 8rem 3rem;
}

h1 {
  color: #5d5e63;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 45px;
}

p {
  color: #5d5e63;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding-top: 10px;
  /* line-height: 16px; */
}

.color {
  color: #4caf4f;
}

.btn-reg {
  margin: 30px 0 0 0;
}

.dots {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 800px) {
  .container-main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .text-wel {
    width: 58vh;
    padding: 3rem 4rem 3rem 1.5rem;
  }
  h1 {
    font-size: 30px;
    color: #5d5e63;
  }
  .dots {
    top: 107%;
  }
}

/* client side view styling  */
.client-font {
  margin: 0 70px 0 70px;
}

.text-font {
  text-align: center;
  padding: 40px;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 30px;
}

.commtext {
  width: 75vh;
  text-align: center;
  justify-self: center;
  margin: 0 35rem;
}

.comm-service {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

.card {
  margin: 30px 20px 10px 20px;
  padding: 20px 30px 20px 30px;
  align-items: center;
  width: 300px;
  height: 250px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.card img {
  position: relative;
  left: 30%;
  right: 40%;
}

h2 {
  color: #5d5e63;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 30px;
}

@media (max-width: 800px) {
  .client-font {
    margin: 30px;
  }

  .text-font {
    text-align: center;
    padding: 20px;
  }
  .logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }

  .commtext {
    width: 50vh;
    text-align: center;
    justify-self: center;
    margin: 0;
  }

  .comm-service {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }

  .card {
    margin: 10px;
    padding: 30px;
    text-wrap: wrap;
    align-items: center;
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
  }

  h2 {
    color: #5d5e63;
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 20px;
  }
}

/* point-text, calender, customer's style */
.point-text {
  display: flex;
  justify-content: space-between;
  margin: 80px 30px 0 35px;
  padding: 10px 50px 10px 50px;
  text-align: left;
  line-height: 25px;
}

.calender {
  margin: 10px 30px 0 50px;
}

/* customer's css */
.customers {
  background-color: #f5f7fa;
  padding: 1px 10px 1px 50px;
  margin: 50px 0 50px 0;
}

.c-text1 {
  color: #5d5e63;
  font-size: 1em;
  line-height: 25px;
  margin-bottom: 20px;
}

.name {
  padding: 5px;
}

.name-1 {
  font-size: 23px;
  font-weight: bold;
  position: relative;
  right: 10px;
  text-align: left;
}

.name-2 {
  font-size: 18px;
  position: relative;
  right: 10px;
  text-align: left;
  color: #89939e;
}

.logo-cus {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.color-text {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 10px;
  text-align: center;
}

.arrow {
  position: relative;
  right: 30px;
  text-align: left;
}

@media (max-width: 800px) {
  .pointText-img img {
    height: auto;
    width: 100%;
  }
  .point-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 0px;
    padding: 3px;
  }

  .right-side {
    width: 100vw;
  }
  .right-side3,
  .right-side2 {
    width: 120vw;
  }
  .logo-cus {
    flex-wrap: wrap;
  }
}

/* end of customers additional css */

.right-side {
  padding: 0 30px 0 30px;
}

.right-side2 {
  padding: 0 60px 0 60px;
}

.right-side3 {
  padding: 0 70px 0 70px;
}

.text-head {
  font-size: 35px;
  line-height: 35px;
  font-weight: bold;
}

.text-body {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 300;
}

.text-body2 {
  margin-top: 20px;
  font-size: 13.5px;
  font-weight: 300;
}

.text-body3 {
  margin-top: 20px;
}

.btn button {
  background-color: #4caf4f;
  border: none;
  border-radius: 10px;
  padding: 20px 40px;
  /* padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  color: #fff;
  margin-top: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: medium;
}

/* achievement styling */
.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 20px 0 30px 30px;
  background-color: #f5f7fa;
  margin-top: 70px;
}

.pointcount img {
  padding: 0 20px 0 20px;
}

.text-pimg {
  position: relative;
  right: 2rem;
}

.bt-roll2 {
  position: relative;
  right: 1.5rem;
}

.number {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
}

.text {
  font-size: 20px;
  text-wrap: nowrap;
  line-height: 18px;
  margin-top: 10px;
}

.roll-1,
.roll-2 {
  display: flex;
  gap: 5px;
}

.top-roll {
  display: flex;
  gap: 20px;
  margin: 0 0 0 40px;
}

.bottom-roll {
  display: flex;
  gap: 20px;
  margin: 40px 0 0 40px;
}

.row-2 {
  margin-left: 50px;
  padding: 0px 90px 0 60px;
}

.row-1 {
  padding: 0px 20px 0 30px;
  text-wrap: nowrap;
}

.pointh2 {
  font-size: 40px;
  line-height: 50px;
  text-align: left;
}

.pointp {
  line-height: 15px;
  color: #000000;
}

@media screen and (max-width: 800px) {
  .grid-row {
    grid-template-columns: 1fr;
    padding: 20px 10px;
  }

  .pointcount img {
    padding: 0 10px;
  }

  .text-pimg,
  .bt-roll2 {
    right: 1rem;
  }

  .roll-1,
  .roll-2 {
    gap: 1.5rem;
  }

  .row-1,
  .row-2 {
    padding: 0 10px;
  }

  .top-roll,
  .bottom-roll {
    flex-direction: row;
    gap: 5px;
    margin: 10px 0;
  }

  .row-2 {
    margin-left: 0;
  }

  .pointh2 {
    font-size: 30px;
    line-height: 40px;
  }

  .pointp {
    line-height: 20px;
  }
}

/* blog/community css */
.grid-rows {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 1rem 8rem 0.2rem 8rem;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.blog-head {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: #4d4d4d;
  line-height: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.blog-p {
  text-align: center;
  font-size: 17px;
  line-height: 25px;
  color: #717171;
  text-align: center;
}

.blog-text {
  width: 80vh;
  text-align: center;
  margin: 0 35rem;
}

.flex-cols {
  position: absolute;
  width: 22vw;
  top: 17rem;
  margin-left: 3rem;
  padding: 18px 26px;
  color: #717171;
  background-color: #f5f7fa;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.readm-text {
  margin-top: 10px;
}

.readm-text img {
  position: absolute;
  bottom: 1.6rem;
  right: 6rem;
}

.blog-btn {
  background-color: #f5f7fa;
  text-align: center;
  margin-top: 8rem;
  padding: 1.5rem;
}

.arrow-btn {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .grid-rows {
    grid-template-columns: 1fr;
    padding: 1rem 1rem 0.2rem 1rem;
    justify-content: center;
  }

  .blog-text {
    width: auto;
    margin: 0 10px;
  }

  .blog-head {
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
  }

  .blog-p {
    font-size: 15px;
  }

  .img-blog img {
    width: 100%;
    height: auto;
  }

  .flex-cols {
    position: relative;
    width: 90%;
    margin: 0rem auto;
    top: 0rem;
    padding: 20px;
    color: #717171;
    background-color: #f5f7fa;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .blog-btn {
    margin-top: 3rem;
    padding: 1rem;
  }

  .arrow-btn {
    margin-left: 0;
  }
}

/* footer style */
.grid-row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4;
  align-items: center;
  padding: 3rem 10rem;
  background-color: #263238;
  color: #f5f7fa;
}

.grid-row-flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}

.head-text {
  font-weight: bold;
  font-size: 20px;
}

.logo-footer,
.c-text,
.head-text {
  margin-bottom: 20px;
}

.left {
  line-height: 40px;
  font-size: small;
  font-weight: 200;
}

.left,
.c-text {
  color: #f5f7fa;
}

.com-text,
.sup-text,
.update-text {
  line-height: 30px;
  font-weight: 200;
}

.left {
  line-height: 30px;
  font-size: 14px;
  font-weight: 200;
}

.social-icon,
.c-text {
  margin-top: 20px;
}

.update-text {
  margin-bottom: 115px;
}

ul li {
  list-style-type: none;
}

.right a {
  text-decoration: none;
  color: #f5f7fa;
}

input {
  width: 18rem;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #515b60;
  background-image: url("./assets/Images/send.svg");
  background-size: 20px;
  background-position: 180px;
  background-repeat: no-repeat;
}

input::placeholder {
  color: #f5f7fa;
  font-weight: 400;
  font-size: 13px;
}

@media screen and (max-width: 800px) {
  .grid-row2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: center;
    padding: 2rem;
    background-color: #263238;
    color: #f5f7fa;
  }

  .grid-row-flex {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
  }

  .head-text {
    font-weight: bold;
    font-size: 16px;
  }

  .logo-footer,
  .c-text,
  .head-text {
    margin-bottom: 10px;
  }

  .left,
  .c-text {
    color: #f5f7fa;
  }

  .com-text,
  .sup-text,
  .update-text {
    line-height: 20px;
    font-weight: 200;
  }

  .left {
    line-height: 20px;
    font-size: 12px;
    font-weight: 200;
  }

  .social-icon,
  .c-text {
    margin-top: 10px;
  }

  .update-text {
    margin-bottom: 0px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #515b60;
    background-image: url("./assets/Images/send.svg");
    background-size: 20px;
    background-position: 95%;
    background-repeat: no-repeat;
  }

  input::placeholder {
    color: #f5f7fa;
    font-weight: 400;
    font-size: 12px;
  }
}
